/* table {
    border: 1px solid black;
    width: 300px;
}

tr td,
th {
    border: 1px solid black;
    text-align: center;
}

tr, th {
    background-color: coral;
} */

/* 設定表格外邊框 */
table.dataTable {
    border: 2px solid #007bff;
    border-collapse: collapse;
}

/* 設定單元格邊框 */
table.dataTable td, table.dataTable th {
    border: 1px solid #cccccc;
    padding: 10px;
}

/* 設定懸停時的邊框 */
table.dataTable tbody tr:hover {
    border: 2px solid #ff9800;
}

/* 設定奇偶列的邊框 */
table.dataTable tbody tr:nth-child(odd) td {
    border-left: 2px solid #ff5733;
    border-right: 2px solid #ff5733;
}

table.dataTable tbody tr:nth-child(even) td {
    border-left: 2px solid #33b5ff;
    border-right: 2px solid #33b5ff;
}

/* 設定 DataTables 搜索框的邊框 */
div.dataTables_filter input {
    border: 1px solid #007bff;
}

/* 設定分頁按鈕的邊框 */
div.dataTables_paginate a {
    border: 1px solid #28a745;
}

